*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
}

a{
    text-decoration: none;
}

.logo{

    color: white;
    font-size: 19px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    padding-right: 10px;
    Border: 1px solid white;

    
}


.nave{

    color: white;
    font-size: 14px;
    font-family: sans-serif;
    padding: 5px;

}

.cont{
    border: solid  rgb(255, 255, 255);
    background:  rgb(255, 255, 255);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-size: 14px;

}



.logo:hover{

    color: rgb(0, 0, 0);
}

.nave:hover{
    color: rgb(0, 0, 0);
}

body{

    margin: auto;

}

.container{

    overflow: hidden;
    min-width: 100%;
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-template-areas: 

    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"  

   
  
    ;
   
}

.img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img1{
    
    background-image: url(img/header1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: el1;
   

}


.img2{

    height: 100%;
    grid-area: el2;
    background-color: rgb(240, 240, 240);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Vollkorn', serif;
}

/* .img3{
    height: 100%;
    grid-area: el3;
    background: black;
    
    color: white;
} */

/*
.img4{
    grid-area: el4;
    background-color: rgb(173, 255, 255);
} */

/* .img5{
    grid-area: el5;
    background-color: rgb(173, 255, 255);
}

.img6{
    grid-area: el6;
    background-color: rgb(173, 255, 255);
}
 */

