*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
}

a{
    text-decoration: none;
}

.logo{

    color: white;
    font-size: 19px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
   
  
    
}


.nave{

    color: white;
    font-size: 14px;
    font-family: sans-serif;
    padding: 5px;

}

.cont{
    border: solid  rgb(255, 255, 255);
    background:  rgb(255, 255, 255);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-size: 14px;

}



.logo:hover{

    color: rgb(0, 0, 0);
   
}

.nave:hover{
    color: rgb(0, 0, 0);
}

body{

    margin: auto;

}

.container{

    overflow: hidden;
    min-width: 100%;
    min-height: 700px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-template-areas: 

    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el1 el1 el1 el1 el1 el1 el1 el1"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"
    "el2 el2 el2 el2 el2 el2 el2 el2"  

    ;
   
}

.img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img1{
    
    background-image: url(img/header1.png);
    display: flex;
    justify-content:space-between;
    align-items: center;
    grid-area: el1;
    padding: 14px;
   

}


.img2{

    height: 100%;
    grid-area: el2;
    background-color: rgb(240, 240, 240);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Vollkorn', serif;
 
}

aside{
    width: 100%;
    height: 500px;
    padding-top:10px ;
}

.img-aside{
    
    height: 120px;
    width: 120px;
    border-radius:100%;
    object-fit: cover;
  
    
}

.cont-aside{

  height: 70%;
  padding: 79px 20px 0 20px;
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;

  
}

.ig-cont{
    color: black;
    font-weight: bold;
}

.cont-section{
    background-color: rgb(100, 100, 100);
    min-height: 100%;
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.pyc{

    
    height: 150px;
    width: 200px;
    background-image: url(img/header1.png);
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    
     
}

h3{
    font-size: 25px;
    font-family: 'Playfair Display SC', serif;
    margin: 10px;
}

.as{

    color: white;
    
    background: black;
    width: 30px;

}



footer{
    display: grid;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 60px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}